#Options -MultiViews

RewriteEngine On

# Removing 'www' from url
#RewriteCond %{HTTP_HOST} ^www.wroblewskipiotr.pl
#RewriteRule (.*) http://wroblewskipiotr.pl/$1 [R=301,L]

#RewriteBase /
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#ErrorDocument 404 /page404.html