@charset "utf-8";

@import "color-palette.less";

* {
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Mina');


@widthMediaBreakPointMobileToTablet: 600px;
@widthMediaBreakPointTabletToPC: 900px;

@containerWidthMobile: 95%;
@containerWidthTablet: 90%;
@containerWidthPC: 85%;


html, body {
    margin: 0;
    font-family: 'Mina', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: @gray900;
}

img {
    max-width: 100%;
    height: auto;
}

.main-div {
    display: block;
    width: 100%;
    height: 100%;
    background-color: @clouds;
    position: relative;
    padding: 0;
    margin: 0;
}

.container {
    display: block;
    padding: 30px 0;
    margin: auto;
}

.container-full {
    display: block;
    padding: 25px 0;
    width: 100%;
}

.logo-container {
    position: relative;
    padding: 0 15px;
    
    background-color: @gray300;
    img {
        max-width: 400px;
        width: 100%;
    }
}

footer {
    display: block;
    position: relative;
    text-align: center;
    font-weight: 800;
}


div.navbar-container {
    background-color: @gray300;
    color: @gray800;
    nav {
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            li {
                color: @gray800;
                a {
                    display: block;
                    color: @gray800;
                    font-weight: 600;
                    text-transform: uppercase;
                    max-width: 180px;
                    padding: 10px 15px;
                    &:hover {
                        background-color: darken(@gray300, 8%);
                    }
                }
            }
        }
    }
}


.maincontent-div {
    width: 90%;
    margin: 0 auto;
  
    section.postcard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: @belizehole;
        color: @clouds;
        padding: 15px;

        h1 a {
            color: @clouds;
        }
        a.btn.btn-primary {
            display: block;
            width: 150px;
            color: @clouds;
            padding: 10px 15px;
            background-color: @pomegranate;
            box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.3);
            &:hover {
                background-color: darken(@pomegranate, 10%);
            }
        }
        .img-responsive {
            max-width: 400px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center
        }
    }
    
    .pagination-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 20px;
        margin: 10px 0;
        a {
            padding: 10px 15px;
            background-color: @pomegranate;
            box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.3);
            color: @clouds;
            &:hover {
                background-color: darken(@pomegranate, 10%);
            }
        }
    }
}


// Mobile
@media only screen and (max-width: @widthMediaBreakPointMobileToTablet) {
    .container {
        width: @containerWidthMobile;
    }
    .postlist-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// Tablet
@media only screen and (min-width: @widthMediaBreakPointMobileToTablet) {
    .container {
        width: @containerWidthTablet;
    }
    .postlist-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        justify-content: space-between;
    }
}

// PC
@media only screen and (min-width: @widthMediaBreakPointTabletToPC) {
    .container {
        width: @containerWidthPC;
    }
    .postlist-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        justify-content: space-between;
    }
}
