@charset "utf-8";

/*
The MIT License

Copyright 2018 Piotr Wróblewski.

*/
/* 
    Created on : 2018-03-08, 13:45:59
    Author     : Piotr Wróblewski
*/

@import "color-palette.less";

@import url('https://fonts.googleapis.com/css?family=Rajdhani|Roboto');

@rajdhaniFont: 'Rajdhani', sans-serif;
@robotoFont: 'Roboto', sans-serif;


html, body {
    display: block;
    position: relative;
    font-family: @robotoFont;
    background: @peterriver;
    color: @midnightblue;
    margin: 0;
    padding: 0;
}


.fsvideo-container {
    display: block;
    opacity: 0.2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }
}

.bg-main {
    z-index: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    .logo-container {
        align-self: flex-start;
        width: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.75);
        img {
            max-width: 400px;
            width: 100%;
            height: auto;
        }
    }
    
    .caption-container {
        width: 100%;
        align-self: center;
        position: fixed;
        bottom: 50%;
        width: 100%;
        span.caption-big {
            display: block;
            color: @clouds;
            opacity: 0.5;
            font-size: 72px;
            text-transform: uppercase;
            font-weight: 100;
        }
        div.caption-counter {
            display: block;
            color: @clouds;
            //opacity: 0.5;
            padding-top: 20px;
            font-size: 42px;
            //text-transform: uppercase;
            font-weight: 100;
        }
    }
    
    .social-icons-container {
        position: fixed;
        bottom: 50px;
        width: 100%;
        color: @clouds;
        a {
        color: @clouds;
        transition: 0.5s all ease;
        i {
            padding: 15px;
            width: 15px;
            height: 15px;
            border: 1px solid @clouds;
            border-radius: 50%;
        }
        &:hover {
            i {
                background-color: @clouds;
                color: @wetasphalt;
            }
        }
        }
    }
    
}


