@charset "utf-8";

/*
The MIT License

Copyright 2018 Piotr Wróblewski.

*/
/* 
    Created on : 2018-03-08, 13:45:59
    Author     : Piotr Wróblewski
*/


@import "color-palette.less";

@font-face {
    font-family: LatoRegular;
    src: url(../webfonts/Lato-Regular.ttf);
}

@font-face {
    font-family: RalewayLight;
    src: url(../webfonts/Raleway-ExtraLight.ttf);
}



@ralewayLight: 'RalewayLight', sans-serif;
@latoRegular: 'LatoRegular', sans-serif;

@mainLightColor: #FAFAFA;


html, body {
    display: block;
    font-family: @latoRegular;
    color: @mainLightColor;
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
    opacity: 0.90;
}

.bg-main {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    .logo-container {
        align-self: flex-start;
        width: 100%;
        background: rgba(250, 250, 250, 0.4);
        a {
            img {
               max-width: 400px;
               width: 100%;
               height: auto;
           }   
        }
    }
    #google_translate_element {
        text-align: right;
        margin-right: 10px;
        margin-top: 5px;
        padding: 20px 0;
    }
    
    .divided-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: rgba(50, 50, 50, 0.6);
        padding: 30px 0 40px 0;
        
        .left-side {
            padding: 0;
            width: 100%;
            .caption-container {
                width: 100%;
                align-self: center;
                padding-top: 25px;
                span.caption-big {
                    display: block;
                    font-family: @ralewayLight;
                    font-size: 48px;
                    text-transform: uppercase;
                    font-weight: 100;
                    text-shadow: 2px 2px 6px rgba(10, 10, 10, 0.8);
                }
                span.caption-small {
                    display: block;
                    font-family: @ralewayLight;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 100;
                    text-shadow: 2px 2px 6px rgba(10, 10, 10, 0.8);
                    padding-top: 25px;
                }

                div.caption-counter {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding-top: 50px;
                    width: 100%;

                    div.counter-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        div.counter-part {
                            text-align: center;
                            width: 80px;
                            height: 80px;
                            padding: 20px;
                            font-family: @latoRegular;
                            font-size: 42px;
                            text-transform: uppercase;
                            font-weight: 100;
                            margin: 0 10px;
                            background: rgba(0,0,0,0.2);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            border-radius: 2%;
                            box-shadow: 1px 1px 0px 1px rgba(250, 250, 250, 0.8),
                                0px 0px 0px 1px rgba(0, 0, 0, 0.8);
                            span {
                                text-shadow: 1px 1px 6px rgba(10, 10, 10, 0.8);
                                font-weight: 800;
                            }
                        }
                        span.title {
                            display: inline-block;
                            font-family: @ralewayLight;
                            font-weight: 500;
                            //width: 80px;
                            padding: 15px;
                            margin: 0 10px;
                            text-align: center;
                            text-shadow: 2px 2px 6px rgba(10, 10, 10, 0.8);
                        }
                    }
                }
                div.caption-titles {
                    padding-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                }
            }
            #counter-end {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                font-family: @ralewayLight;
                font-size: 32px;
                .bg {
                    opacity: 0.9;
                    background-color: #111;
                }
                .launch-info {
                    position: absolute;
                    font-weight: 800;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: @mainLightColor;
                }
            }
        }

        .right-side {
            padding: 0;
            .describe-container {
                width: 100%;
                font-family: @ralewayLight;
                font-size: 32px;
                text-shadow: 2px 2px 6px rgba(10, 10, 10, 0.8);
            }

            .trello-feed {
                resize: both;
                width: 75%;
                min-width: 250px;
                min-height: 250px;
                max-height: 250px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 5px;
                background: rgba(0, 0, 0, 0.2);
                margin: 0 auto;
                font-family: @latoRegular;
                font-size: 12px;
                overflow-y: auto;
                text-align: left;
                text-align: justify;
                line-height: 18px;
                div#trelloFeed {
                    div ul {
                        list-style-image: url('../images/nuke.png');
                        padding-left: 15px;
                    }
                }
            }
        }
    }

    .subscribe-container {
        margin-bottom: 15px;
        button.subscribe-btn {
            background-color: @pomegranate;
            border: none;
            font-weight: 600;
            padding: 15px 25px;
            margin: 0 1px;
            color: @mainLightColor;
            box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.8);
            &:hover {
                background: darken(@pomegranate, 10%);
                cursor: pointer;
            }
        }
        button.moreinfo-btn {
            background-color: @clouds;
            border: none;
            margin: 0 1px;
            font-weight: 600;
            padding: 15px 25px;
            color: @wetasphalt;
            box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.8);
            &:hover {
                background: darken(@clouds, 10%);
                cursor: pointer;
            }
        }
    }
    
    .donate-main {
        background: rgba(50, 50, 50, 0.6);
        padding-bottom: 10px;
        p {
            font-size: 11px;
            margin: 2px 0;
        }
    }
    
    .social-icons-container {
        position: fixed;
        bottom: 0;
        width: 100%;        
        a {
            color: @mainLightColor;
            i {
                padding: 15px;
                width: 15px;
                height: 15px;
                margin: 0 3px;
                box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.4);
                transition: 0.5s ease;
            }
            &:hover {
                i {
                    color: @pomegranate;
                }
            }
        }
    }
}


.spinner {
    margin: 100px auto 0;
    width: 80px;
    text-align: center;
  }

.spinner > div {
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    border: 2px solid #bbbbbb;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

/*  CUSTOM SCROLL BAR  */
/*::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: @pomegranate; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darken(@pomegranate, 5%); 
}*/


/* #################### */



@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}



@media screen and (max-width: 620px) {
    .bg-main {
        .divided-content {
            .left-side {
                padding: 0;
                div.caption-container {
                    div.caption-counter {
                        div.counter-container {
                            div.counter-part {
                                width: 40px;
                                height: 40px;
                                padding: 10px;
                                font-size: 28px;
                            }
                            span.title {
                                font-size: 10px;
                                text-align: left;
                            }
                        }
                    }
                    span.caption-big {
                        font-size: 42px;
                    }
                }
            }
            .right-side {
                padding: 0;
                .describe-container {
                    bottom: 50%;
                    font-size: 26px;
                }
                .trello-feed {
                    max-width: 98%;
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .bg-main {
        .divided-content {
            flex-direction: column;
        }
    }
}
